name: Makefile CI

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'

jobs:
  style:
    name: Check style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: pip install flake8
      - name: Style check
        run: make check-style

  rst:
    name: Check reStructuredText
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - run: pip install restructuredtext_lint
      - name: reStructuredText check
        run: make check-rst

  typing:
    name: Check typing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - name: Type check
        run: |
          . venv
          make check-typing

  examples:
    name: Check examples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install dependencies (apt)
        run: sudo apt-get install -y python3-clang python3-pip
      - name: Examples check
        run: |
          . venv
          make check-examples

  test-ubuntu:
    name: Run test suite (Ubuntu)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Install dependencies (apt)
        run: sudo apt-get install -y python3-clang python3-pip
      - name: Test
        run: |
          . venv
          make test

  test-macos-homebrew:
    name: Run test suite (macOS homebrew)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Environment
        run: |
          brew --prefix llvm@15
          $(brew --prefix llvm@15)/bin/llvm-config --libdir
          $(brew --prefix llvm@15)/bin/llvm-config --bindir
      - name: Test
        run: |
          export DYLD_LIBRARY_PATH=$($(brew --prefix llvm@15)/bin/llvm-config --libdir)
          export PATH=$($(brew --prefix llvm@15)/bin/llvm-config --bindir):$PATH
          . venv
          pip install clang==15.0.7
          make test

  test-macos-xcode:
    name: Run test suite (macOS xcode)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Environment
        run: printenv | sort
      - name: xcode-select
        run: xcode-select --print-path
      - name: Files
        run: find $(xcode-select --print-path)
      - name: Test
        run: |
          export DYLD_LIBRARY_PATH=${XCODE_15_DEVELOPER_DIR}/Toolchains/XcodeDefault.xctoolchain/usr/lib
          . venv
          pip install clang==15.0.7
          make test

  docs:
    name: Check documentation
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies (apt)
        run: sudo apt-get install -y python3-clang python3-pip
      - name: Documentation build check
        run: |
          . venv
          make O=-Wn html
